## Settings for the KBase Groups service.
# Make a copy, fill in as required, and set KBASE_GROUPS_CONFIG to point to the
# new file before starting the server.

[groups]

# MongoDB information.
mongo-host=
mongo-db=
mongo-user=
mongo-pwd=

# KBase Auth server root url.
auth-url=https://ci.kbase.us/services/auth

# KBase Workspace service root url.
workspace-url=https://ci.kbase.us/services/ws

# KBase Workspace administrator service token.
workspace-admin-token=

# KBase catalog service root url.
catalog-url=https://ci.kbase.us/services/catalog

# The notifier factory class that will provide the notifier for notifications and any parameters
# for that class.
notifier-factory=us.kbase.groups.notifications.DirectFeedsServiceNotifierFactory
notifier-param-url=https://ci.kbase.us/services/feeds
notifier-param-token=<add token here>

# "true" to allow insecure (http vs https) URLs.
# allow-insecure-urls=false

# If "true", make the server ignore the X-Forwarded-For and X-Real-IP headers. Otherwise
# (the default behavior), the logged IP address for a request, in order of precedence, is
# 1) the first address in X-Forwarded-For, 2) X-Real-IP, and 3) the address of the client.
dont-trust-x-ip-headers=false

# Any custom fields can be configured here, for example:
# field-gravatarhash-validator=us.kbase.groups.fieldvalidators.GravatarFieldValidatorFactory
#
# field-somefield-validator=us.kbase.groups.fieldvalidators.SimpleFieldValidatorFactory
# field-somefield-param-max-length=20
# See the custom fields documentation in README.md for more information.
