## Settings for the KBase Groups service.
# Make a copy, fill in as required, and set KBASE_GROUPS_CONFIG to point to the
# new file before starting the server.

[groups]

# MongoDB information.
mongo-host=
mongo-db=
mongo-user=
mongo-pwd=

# KBase Auth server root url.
auth-url=https://ci.kbase.us/services/auth

# KBase Workspace service root url.
workspace-url=https://ci.kbase.us/services/ws

# If "true", make the server ignore the X-Forwarded-For and X-Real-IP headers. Otherwise
# (the default behavior), the logged IP address for a request, in order of precedence, is
# 1) the first address in X-Forwarded-For, 2) X-Real-IP, and 3) the address of the client.
dont-trust-x-ip-headers=false
